@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

#contact_modal {
  display: none;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.photograph-header h1 {
  color: #d3573c;
  font-size: 64px;
  margin: 0;
}
.photograph-header img {
  background: #C4C4C4;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  height: 200px;
  width: 200px;
}
.photograph-header .ville {
  color: #901c1c;
  font-size: 24px;
}
.photograph-header .tagLine {
  color: #525252;
  font-size: 18px;
}

.media_section {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: normal;
}

.media div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
.media div h2 {
  color: #901c1c;
  font-size: 24px;
}
.media div .like {
  color: #901c1c;
  font-size: 16px;
}
.media div .like i {
  margin-left: 10px;
}
.media img {
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

.encart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
  font-size: 24px;
  background-color: #db8876;
  width: 340px;
  border-radius: 5px;
  position: fixed;
  left: 70%;
  right: 10%;
  bottom: 0%;
  top: 95%;
  padding: 0px 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  margin: 26px 0px;
}
form label {
  color: #312E2E;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: self-start;
  width: 100%;
  margin: 26px 0px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
form textarea {
  border: none;
  border-radius: 5px;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 35px;
  margin: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-self: center;
}
.photographer_section article a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin: 0;
}
.photographer_section article img {
  background: #C4C4C4;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  height: 200px;
  width: 200px;
}
.photographer_section article p {
  margin: 0;
}
.photographer_section article .ville {
  color: #901c1c;
  font-size: 13px;
}
.photographer_section article .tagLine {
  color: black;
  font-size: 10px;
}
.photographer_section article .prix {
  color: #757575;
  font-size: 9px;
}

/*# sourceMappingURL=style.css.map */
