@media (max-width: 1150px) {
    .modal {
        padding-top: 150px;
        #titre {
            margin-bottom: 170px;
        }
        img {
            position: absolute;
            right: 1%;
        }
    }
}
@media (max-width: 1050px) {
    #figure {
        margin: 0;
        width: 95%;
        img, video {
            width: 90%;
        }
        .fa-times {
            left: 88%;
        }
    }
    .photographer_section {
        article {
            width: 50%;
            margin-right: 0px;
        }
    }
}
@media (max-width: 900px)
{
    .photograph-header {
        flex-direction: column;
        height: 600px;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
    .encart{
        left: auto;
    }
}
@media (max-width: 800px) {
    .accueil {
        flex-direction: column;
        h1 {
            margin: 0;
        }
        .logo {
            margin: 0;
        }
    }
    .logo {
        margin: 0 67%;
    }
    .media {
        width: 100%;
        img {
        width: 100%;
        }
    }
    video {
        width: 100%;
    }
    .photographer_section {
        article {
            width: 100%;
            margin-right: 0px;
        }
    }
}

