.contact_button {
    @include en-forme(white, 20px);
    font-weight: bold;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $couleur-secondaire;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    &:hover, &:focus {
        background-color: $couleur-primaire;
        color: black;
    }
}
