#figure {
    @include en-flex(row, space-between, center);
    i {
        @include en-forme($couleur-secondaire, 72px);
    }
    .fa-times {
        position: absolute;
        top: 9%;
        left: 94%;
    }
    figcaption {
        @include en-forme($couleur-secondaire, 24px);
        position: absolute;
        bottom: 10%;
        left: 7%;
    }
    img {
        width: 1050px;
        height: 900px;
        object-fit: contain;
    }
}