#figure {
    @include en-flex(row, space-between, center);
    span {
        @include en-forme($couleur-secondaire, 72px);
    }
    .fa-times {
        position: absolute;
        top: 9%;
        left: 94%;
    }
    figcaption {
        @include en-forme($couleur-secondaire, 24px);
        position: absolute;
        bottom: 8%;
        left: 7%;
    }
    img {
        width: 90%;
        height: 86vh;
        object-fit: contain;
    }
    video {
        width: 90%;
        height: auto;
    }
}