.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    @include en-flex(column, space-between, center);
    padding: 35px;
    margin: auto;
    header {
        justify-content: space-between;
        width: 100%;
        img {
            cursor: pointer;
        }
        h2 {
            font-size: 64px;
            font-weight: normal;
            text-align: center;
        }
    }
}
