.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    article {
        @include en-flex(column, center, center);
        justify-self: center;
        a {
            text-decoration: none;
            @include en-flex(column, normal, center);
            text-align: center;
        }
        h2 {
            @include en-forme($couleur-primaire, 36px);
            margin: 0;
        }
        img {
            background: #C4C4C4;
            border-radius: 50%;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
            object-fit: cover;
            height: 200px;
            width: 200px;
        }
        p {
            margin: 0;
        }
        .ville {
            @include en-forme($couleur-secondaire, 13px);
        }
        .tagLine {
            @include en-forme(black, 10px);
        }
        .prix {
            @include en-forme($couleur-tertiaire, 9px)
        }
    }
}
