.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    @include en-flex(row, space-between, center);
    h1 {
        @include en-forme($couleur-primaire, 64px);
        margin: 0;
    }
    img {
        background: #C4C4C4;
        border-radius: 50%;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        object-fit: cover;
        height: 200px;
        width: 200px;
    }
    .ville {
        @include en-forme($couleur-secondaire, 24px);
    }
    .tagLine {
        @include en-forme($couleur-tagline, 18px);
    }
    
}

.media_section {
    margin-top: 50px;
    @include en-flex(row, space-around, normal, wrap);
}

.media{
    margin: 0px 20px;
    div{
        @include en-flex(row, space-between, center);
        text-align: center;
        h2 {
            @include en-forme($couleur-secondaire, 24px);
        }    
        .like {
            @include en-forme($couleur-secondaire, 16px);
            i {
                margin-left : 10px;
            }
        }
    }
    
    img {
        object-fit: cover;
        width: 350px;
        height: 300px;
        border-radius: 5px;
    }
}

.encart {
    @include en-flex(row, space-between, center);
    @include en-forme(black, 24px);
    background-color : $couleur-encart;
    width: 340px;
    border-radius: 5px;
    position: fixed;
    left: 70%;
    right: 10%;
    bottom: 0%;
    top: 95%;
    padding: 0px 20px;
}
